.home-background {
    background-image: url('https://i.ibb.co/yVdJWzm/dark-bg-d065bab349fd8927f452.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
  }
